{% load staticfiles %}

<!doctype html>
<html>
<head>
<title>Library Stack Guide :: Brown University Library</title>

<!--JS -->
<script type="text/javascript" src="{% static 'js/DD_roundies.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locator.js' %}"></script>

<!--CSS-->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />

{% block extra_css %}
{% endblock %}

</head>

<body>
{% block content %}
{% endblock %}

<!-- for highlighting map cell -->

{% block js_highlighter %}
{% endblock %}

</body>

</html>
