<!doctype html>
<html>
<head>
<title>Library Stack Guide :: Brown University Library</title>
<!--JS -->
<script type="text/javascript" src="{{ url_for('static', filename='maps/js/DD_roundies.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='maps/js/locator.js') }}"></script>
<!--CSS-->
<link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='maps/css/styles.css') }}" />
<link rel="stylesheet"type="text/css" media="print" href="{{ url_for('static', filename='maps/css/print.css') }}" />
{% block extra_css %}
{% endblock %}

</head>

<body>
{% block content %}
{% endblock %}

<!-- for highlighting map cell -->
{% block js_highlighter %}
{% endblock %}
</body>

</html>
