{% load staticfiles %}

<!doctype html>
<html>
<head>
<title>LABELS</title>

<!--CSS-->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />


</head>

<body>

{% for floor_key, aisle_dct_value in label_data.items %}
    <!-- <p>key, `{{ key }}</p> -->
    <!-- <p>value, `{{ value }}`</p> -->

    {% for padded_aisle_key, range_dct_value in aisle_dct_value.items %}
    <!-- <p>key, `{{ key }}</p> -->
    <!-- <p>value, `{{ value }}`</p> -->

    <p>{{ range_dct_value.aisle }}</p>
    <p>{{ range_dct_value.begin }}</p>
    <p>{{ range_dct_value.location_code|capfirst }}</p>
    <p>{{ range_dct_value.floor|upper }}</p>

        {% for key, value in range_dct_value.items %}
        <p>key, `{{ key }}`</p>
        <p>value, `{{ value }}`</p>
        {% endfor %}

        <hr/>

    {% endfor %}

{% endfor %}

<hr/>
<hr/>
<hr/>
{% for entry in range_list %}

<p>{{ entry.range_start }}</p>
<p>{{ entry.callnumber_start }}</p>
<p>{{ entry.callnumber_end }}</p>
<p>{{ entry.building }}</p>
<p>{{ entry.level }}</p>
<p>{{ entry.date }}</p>

<hr/>

{% endfor %}


</body>

</html>
