{% extends "book_locator_app_templates/item.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/scili.css' %}" rel="stylesheet" type="text/css"  />
<script src="{% static js/scili.js' %}" type="text/javascript"></script>
{% endblock %}

{% block js_highlighter %}
<!--This call the highlighter function for the proper aisle and side-->
<script type='text/javascript'>
new_highlight("s", "{{ item.floor }}", "{{ item.display_aisle }}", "{{ item.side|lower }}")
</script>
{% endblock %}
