{% extends "maps/item.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='maps/css/scili.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='maps/js/scili.js') }}"></script>
{% endblock %}

{% block js_highlighter %}
<!--This call the highlighter function for the proper aisle and side-->
<script type='text/javascript'>
new_highlight("s", "{{ item.floor }}", "{{ item.display_aisle }}", "{{ item.side|lower }}")
</script>
{% endblock %}
